@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "chirp-regular";
  src: url("./assets/font/Chirp-Regular.80fda27a.woff2") format("woff2");
}
@font-face {
  font-family: "chirp-medium";
  src: url("./assets/font/Chirp-Medium.f8e2739a.woff2") format("woff2");
}
@font-face {
  font-family: "chirp-heavy";
  src: url("./assets/font/Chirp-Heavy.f44ae4ea.woff2") format("woff2");
}
@font-face {
  font-family: "chirp-bold";
  src: url("./assets/font/Chirp-Bold.ebb56aba.woff2") format("woff2");
}
@font-face {
  font-family: "chirp-extended-heavy";
  src: url("./assets/font/chirp-extended-heavy-web.woff2") format("woff2");
}

.chirp-regular-font {
  font-family: "chirp-regular" !important;
}
.chirp-medium-font {
  font-family: "chirp-medium" !important;
}
.chirp-heavy-font {
  font-family: "chirp-heavy" !important;
}
.chirp-bold-font {
  font-family: "chirp-bold" !important;
}
.chirp-extended-heavy {
  font-family: "chirp-extended-heavy" !important;
}

body {
  margin: 0;
  padding: 0;
}

.color-white-text {
  color: rgb(231, 233, 234);
}

.color-dark-text {
  color: rgb(16, 23, 42);
}

.color-sky-blue-text {
  color: #37bcf8;
}

.color-soft-dark-text {
  color: #334154;
}

.border-r-4 {
  border-radius: 4px;
}

.border-r-999 {
  border-radius: 999px;
}

.border-r-50 {
  border-radius: 50%;
}

.fs-23 {
  font-size: 23px;
}

.fs-20 {
  font-size: 20px;
}

.fs-15 {
  font-size: 15px;
}

.fs-14 {
  font-size: 14px;
}

.fs-13 {
  font-size: 13px;
}

.lh-28 {
  line-height: 28px;
}

.lh-24 {
  line-height: 24px;
}

.lh-16 {
  line-height: 16px;
}

.lh-20 {
  line-height: 20px;
}

.border-1px {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.bt-1px {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bb-1px {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.br-1px {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.bl-1px {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.text_decoration_underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition-duration: 0.2s;
}

.pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.none-outline {
  outline: none;
}

.p-16 {
  padding: 16px;
}

.dflex {
  display: flex;
}
.jfycenter {
  justify-content: center;
}
.algncenter {
  align-items: center;
}

.fdir-column {
  flex-direction: column;
}

.light_scheme {
  color-scheme: light;
}

.shadow_div_white {
  background-color: white !important;
  box-shadow: 0 0 15px rgba(101, 119, 134, 0.2),
    0 0 5px 3px rgba(101, 119, 134, 0.15) !important;
}

.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.z-9999 {
  z-index: 9999 !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.t-ov {
  text-overflow: ellipsis;
}

.ov-hid {
  overflow: hidden;
}

.w-sp {
  white-space: nowrap;
}

.p-abs {
  position: absolute;
}

.p-rel {
  position: relative;
}

.toggle-view-hover-effect:hover {
  background-color: #e7e7e8 !important ;
}

:root {
  --clr-neon: #37bcf8;
  --clr-bg: hsl(323 21% 16%);
}

.brand_text:hover {
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.parent_shadow_div {
  background-color: white !important;
  box-shadow: 0 0 15px rgba(101, 119, 134, 0.2),
    0 0 5px 3px rgba(101, 119, 134, 0.15) !important;
}

.dark-btn-hover-effect:hover {
  transition-duration: 0.2s !important;
  background-color: #334155 !important;
}

.sky-blue-btn-hover-effect:hover {
  transition-duration: 0.2s !important;
  background-color: #1c9bef !important;
}

/* animation for auth modal start to check  */
@keyframes auth_modal_open_active_animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.auth_modal_open_active {
  animation-name: auth_modal_open_active_animation;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
/* animation for auth modal finish to check  */
.parent_shadow_div {
  position: absolute;
  width: 250px;
  right: 60px;
  bottom: 55px;
  padding: 32px;
  background-color: white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.auth_signup_input {
  position: relative;
  padding-right: 32px;
  margin: 16px 0px 0px 0px;
}

.auth_signup_input input {
  background-color: transparent;
  width: 100% !important;
  border-radius: 4px !important;
  outline: none;
  outline-style: none;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  padding: 0.8em;
  border-radius: 0.5em;
  outline: none;
  transition-duration: 0.2s;
  border: 1px solid rgb(16, 23, 42);
}

@keyframes spin {
  0% {
    stroke-dashoffset: 1;
    transform: rotate(-0.25turn);
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -1;
    transform: rotate(0.75turn);
  }
}

.spinner {
  width: 1.5em;
}

.spinner span {
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.spinner svg {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.spinner circle:nth-of-type(2) {
  animation: spin 3s linear infinite;
  stroke-dasharray: 1 1;
  stroke-dashoffset: 1;
  transform-origin: 50% 50%;
  transform: rotate(-0.25turn);
}

.animated_border {
  background-color: green;
  position: relative;
  outline: none;
  box-shadow: none;
  background-image: linear-gradient(#36bbf7, #36bbf7),
    linear-gradient(#36bbf7, #36bbf7), linear-gradient(#36bbf7, #36bbf7),
    linear-gradient(#36bbf7, #36bbf7);
  background-position: 0 0, 0 0, 0 100%, 0 100%;
  background-size: 3px 0%, 0% 3px, 0% 3px, 3px 0%;
  background-color: transparent;
  background-repeat: no-repeat;
  transition: 0.2s linear;
}

.animated_border_active {
  background-position: 0 100%, 0 0, 0 100%, 100% 0;
  background-size: 3px 0%, 100% 3px, 0% 3px, 3px 0%;
  animation: animate 1.4s linear infinite 0.2s;
}

.paused {
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    background-position: 0 100%, 0 0, 0 100%, 100% 0;
    background-size: 3px 0%, 100% 3px, 0% 3px, 3px 0%;
  }
  40% {
    background-position: 0 100%, 100% 0, 100% 100%, 100% 0;
    background-size: 3px 0%, 100% 3px, 0% 3px, 3px 100%;
  }
  60% {
    background-position: 0 100%, 100% 0, 100% 100%, 100% 100%;
    background-size: 3px 0%, 0% 3px, 100% 3px, 3px 100%;
  }
  70% {
    background-position: 0 100%, 100% 0, 0% 100%, 100% 100%;
    background-size: 3px 100%, 0% 3px, 100% 3px, 3px 0%;
  }
  80% {
    background-position: 0% 0%, 0% 0, 0% 100%, 100% 100%;
    background-size: 3px 100%, 0% 3px, 0% 3px, 3px 0%;
  }
  100% {
    background-position: 0% 0%, 0 0, 0 100%, 100% 100%;
    background-size: 3px 0%, 100% 3px, 0% 3px, 3px 0%;
  }
}

@keyframes top_info_message_animation_open {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-40px);
  }
}
@keyframes top_info_message_animation_close {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.top_info_message_animation_open {
  animation-name: top_info_message_animation_open;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.top_info_message_animation_close {
  animation-name: top_info_message_animation_close;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.you {
  background-color: #1c9bef;
  color: rgb(231, 233, 234);
}

.him-her {
  background-color: #eff3f4;
  color: rgb(16, 23, 42);
}

.selected-message {
  background-color: #f7f9f9 !important ;
}

.each-message-parent-div:hover {
  background-color: #f7f9f9 !important ;
}

.hover_close_btn:hover {
  background-color: #f7f9f9 !important ;
}

.light-popover .MuiPaper-root,
.dark-popover .MuiPaper-root,
.cyber-punk-popover .MuiPaper-root {
  height: 400px !important;
  width: 400px !important;
  box-shadow: 0 0 15px rgba(101, 119, 134, 0.2),
    0 0 5px 3px rgba(101, 119, 134, 0.15) !important;
}

.dark-popover .MuiPaper-root {
  background-color: black !important;
}
.cyber-punk-popover .MuiPaper-root {
  background-color: #fff248 !important;
}
/* arrow animation  */

.arrow_animation_active_forward {
  transition: transform 0.3s ease;
  transform: translate(0.3rem, -0.3rem);
  fill: #36bbf7;
}

.arrow_animation_done_forward {
  transition: transform 0.3s ease;
  transform: translate(0rem, 0rem);
}

.rotate {
  transform: rotate(-180deg) !important;
}

.arrow_animation_active_down {
  transition: transform 0.3s ease !important;
  transform: translate(-0.3rem, 0.3rem) rotate(-180deg) !important;
  fill: #36bbf7;
}

.arrow_animation_done_down {
  transition: transform 0.3s ease !important;
  transform: translate(0rem, 0rem) rotate(-180deg) !important;
}

.circle_hover_accept:hover {
  transition-duration: 0.2s;
  background-color: #e4f0f9;
  outline: none;
}

.circle_hover_reject:hover {
  transition-duration: 0.2s !important;
  background-color: #f8e5e6 !important;
  outline: none !important;
}

.dark_btn_hover_effect:hover {
  transition-duration: 0.2s !important;
  background-color: #272c30 !important;
}

.cancel_btn_hover_effect:hover {
  transition-duration: 0.2s !important;
  background-color: #e7e7e8 !important;
}

/* antd message custom style */
.ant-message {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.ant-message-notice-content {
  background-color: #36bbf7 !important;
  color: white !important;
}

.ant-message-custom-content a {
  text-decoration: none !important;
}

.ant-message-custom-content a:hover {
  text-decoration: underline !important;
  text-decoration-color: white !important;
}

.ant-message-success {
  padding: 6px;
}

.anticon-check-circle {
  display: none !important;
}
